@import
url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import 
url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,input,label,textarea,select,button{margin:0; padding:0;}
body,h1,h2,h3,h4,h5,h6 {font-size:12px; font-family: 'Noto Sans KR', sans-serif; color:#333;}
a {text-decoration:none; color:#333;}
img, fieldset {border:none; vertical-align: middle;}
ul,ol,li {list-style: none;}
strong,em,address {font-weight:normal; font-style:normal;}
table {border-collapse:collapse;}

.clearfix:after { /*날아갈경우 높이 지정*/
    content:"";
    display:block;
    clear:both;
}
#join_pro_title {
    text-align: center;
    height: 70px;
    line-height: 70px;
    margin-top:30px;
    margin-bottom: 20px;
}
#join_pro_title > h1 {
    display: inline-block;
    font-size: 2em;
    margin-right: 10px;
    font-weight: 600;
}

#join_pro-body {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    font-size: 16px;
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px 450px 20px 500px;
}
#join_pro_categiry1 > h2 {
    font-size: 1.3em;
    /* margin-right: 10px;/ */
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
#join_pro-button .btn-secondary {
    border-radius: 30px;
    border: 1px solid #747474;
    background-color: #747474;
    color: #fff;
    font-size: 16px;
    width: 400px;
    height: 40px;
    cursor: pointer;
    outline: 0;
    margin-top: 20px;
}
#join_pro-button .btn-secondary:hover {
    border: 1px solid #747474;
    background-color: #fff;
    color: #747474;
}
.form-group .form-control{
    padding: 15px;
    width: 400px;
    height: 20px;
}
.form-group > label{
    margin-bottom: 3px;
}
.box {
    margin: 40px auto;
    text-align: center;
}
#category-radio {
    font-size: 1.2em;
    /* margin-right: 10px;/ */
    font-weight: 200;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    margin-left: 110px;
    margin-top: 20px;
}
#category-checkbox1 {
    font-size: 1.2em;
    /* margin-right: 10px;/ */
    font-weight: 100;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    display: none;
}
#category-checkbox2 {
    font-size: 1.2em;
    /* margin-right: 10px;/ */
    font-weight: 100;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    display: none;
}
#category-checkbox3 {
    font-size: 1.2em;
    /* margin-right: 10px;/ */
    font-weight: 100;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    display: none;
}